certifi==2019.11.28
cvxopt==1.2.7
cycler==0.10.0
GDAL==2.3.3
h5py==2.10.0
iceutils==0.0.0
joblib==0.14.1
kiwisolver==1.0.1
lxml==4.6.5
matplotlib==3.1.3
mkl-fft==1.0.15
mkl-service==2.3.0
numpy==1.21.0
Pint==0.11
pykml==0.2.0
pymp-pypi==0.4.2
pyparsing==2.4.6
pyproj==1.9.6
python-dateutil==2.8.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
tornado==6.0.4
tqdm==4.44.1
